.barra-sumar {
	display: flex;
	position: relative;
	align-items: center;
}
.barra-sumar > hr{
	width: 90%;
	/*border: 1px solid gray;*/
}
.barra-sumar > a{
	display: flex;
	justify-content: center;
}
.triangle{
	top: 10px;
    position: absolute;
    right: 34px;
    border-right: 25px solid #2196F3;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 2;
}
h1.titulo {
    text-transform:capitalize;
}
.btnIncremento{
	width: 105px;
}
.btn-small {
    padding: 0 1rem;
    font-size: 0.9em !important;
	font-weight: 300;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	font-size: 0.8em;
	text-align: center;
	padding: 6px 4px;
	font-weight: 400;
	color: white;
	width: 80px;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer; /* "hand" cursor */
}

.inputfile + label:hover {
	background-color: #4CAF50 ;
}

.flex-center{
	justify-content: center;
}

.hidden{
	display: none;
}

.no-padding{
	padding: 0;
}

.no-margin {
	margin: 0;
}

.btn-eliminar-anime{
    /*padding-top: 96px;*/
	padding-top: 5px;
}

.btn-eliminar-anime i, .btn-restaurar-anime i{
	font-weight: bold;
    font-size: 1.3em;
}

.btn-eliminar-anime a, .btn-restaurar-anime a{
    font-weight: 500;
}

table.highlight>tbody>tr:hover{
	background-color: #4fd8fe;
	cursor: pointer;
}

.icon-pag{
	font-size: 1.2em !important;
}

.icon-state-historial {
    font-size: 1.4em;
}

.pagination li.active {
	background-color: #40b8d9;
}
