:root {
	--icon-hover: #4fd8fe;
	--border-color: #1ca7ce;
}
.barra-sumar {
	display: flex;
	position: relative;
	align-items: center;
}
.barra-sumar > hr{
	width: 90%;
}
.barra-sumar > a{
	display: flex;
	justify-content: center;
}
.triangle{
	top: 10px;
	position: absolute;
	right: 34px;
	border-right: 25px solid #2196F3;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	z-index: 2;
}
.titulo {
    text-transform:capitalize;
}
.btnIncremento{
	width: 105px;
}
.btn-small {
  padding: 0 1rem;
  font-size: 0.9em !important;
	font-weight: 300;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	font-size: 0.8em;
	text-align: center;
	padding: 6px 4px;
	font-weight: 400;
	color: white;
	width: 80px;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
}
.mt-10 {
	margin-top: 10px;
}
.inputfile + label:hover {
	background-color: #4CAF50 ;
}
.flex {
	display: flex;
}
.flex-x-center{
	justify-content: center;
}
.flex-y-center {
	align-items: center;
}
.hidden{
	display: none;
}
.no-padding{
	padding: 0;
}
.no-margin {
	margin: 0;
}
.btn-eliminar-anime{
	padding-top: 5px;
}
.btn-eliminar-anime i, .btn-restaurar-anime i{
	font-weight: bold;
  font-size: 1.3em;
}
.btn-eliminar-anime a, .btn-restaurar-anime a{
    font-weight: 500;
}
table.highlight > tbody > tr:hover{
	background-color: var(--icon-hover);
	cursor: pointer;
}
.icon-pag{
	font-size: 1.2em !important;
}
.icon-state-historial {
    font-size: 1.4em;
}
.icon-normal {
	font-size: 1em !important;
	position: relative;
	left: 1px;
	top: 1px;
}
.icon-big {
	font-size: 24px;
}
.pagination li.active {
	background-color: #40b8d9;
}
.text-icon {
	width: 100%;
}
.hover-icon-complete:hover {
	cursor: pointer;
	text-decoration: var(--icon-hover);
	color: var(--icon-hover) !important; /* Este !important es porque los de materialize ponen sus clases con !important y asi no se puede ¬¬ */
}
.btn-sortable:hover {
	cursor: move;
}
.border-top {
	border-top: 1px solid var(--border-color);
}
.border-bottom {
	border-bottom: 1px solid var(--border-color);
}
.border-right {
	border-right: 1px solid var(--border-color);
}
.border-left {
	border-left: 1px solid var(--border-color);
}
.border-solid {
	border: 1px solid var(--border-color);
}
.editable-pen:hover {
	border: 1px solid var(--border-color);
}
.editable-pen.mh-small { /* mh : min-height */
	min-height: 65px;
}
.mb-0 {
	margin-bottom: 0;
}
.mt-0 {
	margin-top: 0;
}
.overflow-a {
	overflow: auto;
}