<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Agregar Animes</title>
  <link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/dist/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/app.css" />
</head>
<body>
	<div class="row">
		<div class="col s12">
			<h1 class="center">Agregar Animes</h1>
			<hr>
			<div class="container">
				<form action="" onsubmit="return cargarDatos();" id="nuevaListaAnimes">
					<table >
						<thead>
							<tr>
								<th>Orden</th>
								<th>Nombre</th>
								<th>Día</th>
								<th>Cáp Vistos</th>
								<th>Página</th>
								<th>Carpeta</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="number" name="orden" min="1" placeholder="1" required></td>
								<td><input type="text" name="nombre" placeholder="K-ON!" required></td>
								<td><input type="text" name="dia" placeholder="lunes" required></td>
								<td><input type="number" name="nrocapvisto" min="0" placeholder="0" required></td>
								<td><input type="text" name="pagina" placeholder="http://www.animehdl.net/k-on-1414-bd-720p-110mb-hd/" required></td>
								<td>
									<input type="file" name="carpeta" onchange="render.getFolder(this)" id="file" class="inputfile" webkitdirectory />
									<label for="file" class="tooltipped blue" data-position="bottom" data-delay="50" data-tooltip="Este campo no es obligatorio">Escoja una carpeta</label>
								</td>
							</tr>
							<tr>
								<td colspan="6">
									<div class="barra-sumar">
										<hr>
										<div class="triangle"></div>
										<a id="agregarNuevoAnime" onclick="render.increNuevosAnimes();" class="right btn-floating btn blue">+</a>
									</div>
								</td>
							</tr>
							<tr>
								<th colspan="6" class="center"><input class="btn green" type="submit" value="Agregar"></th>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
	<script src="../routers/index.js"></script>
	<script type="text/javascript" src="../js/render.js"></script>
	<script type="text/javascript" src="../js/consultas.js"></script>
	<script type="text/javascript" src="../js/agregar-animes-initialize.js"></script>
</body>
</html>
