<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Editar Animes</title>
  <link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/dist/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/app.css" />
  <link rel="stylesheet" type="text/css" href="../css/fontello.css" />
</head>
<body>
	<div class="row">
		<div class="col s12">
			<h1 class="center">Lista de Animes</h1>
			<hr>
			<table class="bordered centered">
				<thead>
						<tr>
							<th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Hacer click en estos botones puede tener resultados no deseados.">Núm/
							Borrar</th>
							<th>Nombre</th>
							<th class="tooltipped" data-position="top" data-delay="50" data-tooltip="¡Olvídate de las tildes!">Día</th>
							<th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Solo sirve para cambiar el orden de los capítulos.">Orden</th>
							<th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Hasta 9.007.199.254.740.992 capítulos.">Capítulos Vistos</th>
							<th class="tooltipped" data-position="top" data-delay="50" data-tooltip="¡También se reconocen las URLs!">Página</th>
							<th class="tooltipped" data-position="top" data-delay="50" data-tooltip="Formato: C:/carpeta/subcarpeta">Carpeta</th>
						</tr>
					</thead>
				<tbody id="contenido">
				</tbody>
			</table>
            <ul class="pagination center" id="paginas">
            </ul>
		</div>
	</div>
	<script src="../routers/index.js"></script>
	<script type="text/javascript" src="../js/render.js"></script>
	<script type="text/javascript" src="../js/consultas.js"></script>
	<script type="text/javascript" src="../js/editar-animes-initialize.js"></script>
</body>
</html>
