<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../node_modules/materialize-css/dist/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/app.css" />
  <link rel="stylesheet" type="text/css" href="../../css/fontello.css" />
</head>
<body>
	<div class="row">
		<div class="col s5 offset-s1">
            <ul class="collapsible popout" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header flex-center cyan active">Nombre</div>
                    <div class="collapsible-body no-padding">
                        <div class="collection">
					    	<a href="#" class="collection-item waves-effect waves-light center" id="nombre"></a>
					  	</div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header flex-center cyan active">Estado</div>
                    <div class="collapsible-body no-padding">
                        <div class="collection">
                            <a href="#" class="collection-item waves-effect waves-light center" id="estado"><i class="icon-play left"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header flex-center cyan lighten-1 active">Fecha Creación</div>
                    <div class="collapsible-body no-padding">
                        <div class="collection">
					    	<a href="#" class="collection-item waves-effect waves-light center" id="fechaCreacion"></a>
					  	</div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header flex-center cyan lighten-2 active">Fecha Eliminación</div>
                    <div class="collapsible-body no-padding">
                        <div class="collection">
					    	<a href="#" class="collection-item waves-effect waves-light center" id="fechaEliminacion"></a>
					  	</div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header flex-center cyan lighten-3 active">Página</div>
                    <div class="collapsible-body no-padding">
                        <div class="collection">
					    	<a href="#" class="collection-item waves-effect waves-light center" id="pagina"></a>
					  	</div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header flex-center cyan lighten-4 active">Carpeta</div>
                    <div class="collapsible-body no-padding">
                        <div class="collection">
					    	<a href="#" class="collection-item waves-effect waves-light center" id="carpeta"></a>
					  	</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s6">
            <div class="row">
                <div class="col s12">
                    <canvas id="capVistos" width="400" height="400"></canvas>
                </div>
                <div class="col s12">
                    <div class="container btn-eliminar-anime">
                        <div class="collection">
                            <a href="#" class="collection-item waves-effect waves-light black-text red center">Eliminar<i class="icon-trash-empty right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<script src="../../routers/historial.js"></script>
    <script type="text/javascript" src="../../js/render.js"></script>
	<script type="text/javascript" src="../../js/Historial.js"></script>
	<script type="text/javascript" src="../../js/consultas.js"></script>
	<script type="text/javascript">
	    //buscarPorId('454FPz7FhjXEAfgo');
        buscarPorId('454FPz7FhjXEAfgo');
	</script>
</body>
</html>
