<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar Animes</title>
    <link rel="stylesheet" type="text/css" href="../../node_modules/materialize-css/dist/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/app.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontello.css">
</head>

<body>
    <div class="row">
        <div class="col s12">
            <h3 class="center">Agregar Animes</h3>
        </div>
    </div>
    <div class="container container-big">
        <form id="nuevaListaAnimes">
            <table class="centered">
                <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Nombre</th>
                        <th>Día</th>
                        <th>Tipo</th>
                        <th>Página</th>
                        <th>Carpeta</th>
                        <th>Más</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="datos-anime-nuevo" id="anime-0">
                        <td><input type="number" name="orden" min="1" placeholder="1" class="validate tooltipped"
                                data-position="bottom" data-tooltip="Orden en que se muestran los animes" required></td>
                        <td><input type="text" name="nombre" placeholder="Steins;Gate 0" class="validate" required></td>
                        <td>
                            <div class="input-field">
                                <select id="dia" name="dia" class="validate" required>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-field">
                                <select id="tipo" name="tipo" class="validate" required>
                                </select>
                            </div>
                        </td>
                        <td><input type="text" name="pagina" class="validate" placeholder="https://animeflv.net/anime/782/hyouka"
                                required></td>
                        <td>
                            <input type="file" name="carpeta" id="file" class="inputfile" webkitdirectory />
                            <label for="file" class="tooltipped blue" data-position="bottom" data-tooltip="Este campo no es obligatorio">Escoja
                                una carpeta</label>
                        </td>
                        <td>
                            <a class="modal-trigger icon-big black-text" href="#modal0"><i class="material-icons icon-dot-3 flex flex-x-center"></i></a>
                            <div id="modal0" class="modal bottom-sheet">
                                <div class="modal-content left-align">
                                    <h5>Datos opcionales</h5>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input value="0" id="nrocapvisto" name="nrocapvisto" type="number" min="0"
                                                class="validate this-not">
                                            <label for="nrocapvisto">Número capítulos vistos</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input type="number" id="totalcap" name="totalcap" min="0" class="tooltipped validate this-not"
                                                data-position="bottom" data-delay="50" data-tooltip="Este campo no es obligatorio">
                                            <label for="totalcap">Total de capítulos</label>
                                        </div>
                                    </div>
                                    <h5>
                                        Remover fila
                                        <a class="right waves-effect waves-light btn red" id="btn-borrar-fila"><i class="icon-trash-empty material-icons right"></i>Eliminar</a>
                                    </h5>
                                    <p>Se removerá esta fila junto con sus datos.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <div class="barra-sumar">
                                <hr>
                                <div class="triangle"></div>
                                <a id="agregarNuevoAnime" class="right btn-floating btn blue">+</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="8" class="center">
                            <button class="btn green waves-effect waves-light" type="submit" name="action">
                                Agregar
                                <i class="material-icons right icon-pencil"></i>
                            </button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <script>require('../../js/agregar-anime-init.js');</script>
</body>

</html>