<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Opciones</title>
    <link rel="stylesheet" type="text/css" href="../../node_modules/materialize-css/dist/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/app.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontello.css" />
</head>

<body>
    <div class="row">
        <div class="col s4 no-padding">
            <ul class="collection with-header no-margin">
                <li class="collection-header">
                    <h5>Opciones</h5>
                </li>
                <a id="conf-dias" class="collection-item blue-text">Días</a>
                <a id="conf-downloader" class="collection-item blue-text">Gestor de descargas</a>
            </ul>
        </div>

        <div class="col s8" id="conf-data">
            <div class="col s12">
                <h5 id="conf-title"></h5>
            </div>
            <div class="col s12" id="datos">
            </div>
        </div>
    </div>
    <!-- SCRIPTS -->
    <script>require('../../js/opciones-init.js')</script>
</body>

</html>