<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Opciones</title>
  <link rel="stylesheet" type="text/css" href="../../node_modules/materialize-css/dist/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/app.css" />
  <link rel="stylesheet" type="text/css" href="../../css/fontello.css" />
</head>
<body>
    <h1>opciones</h1>
</body>
</html>